/* Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  user-select: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
body > .loader {
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 4px;
  border-color: #0079ca transparent #0079ca #0079ca;
  border-style: solid;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
/* End Global Rules */
.welcome {
  max-width: 100%;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  background-color: #169ef9;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  color: white;
}
.choices {
  max-width: 100%;
  width: 500px;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  background-color: #EEE;
  border-radius: 10px;
}
.choices span {
  background-color: #DDD;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.choices span:not(:last-child) {
  margin-bottom: 20px;
}
.choices span:hover {
  background-color: #169ef9;
  color: white;
}
.container.disabled .question,
.container.disabled .answers,
.container.disabled footer {
  opacity: 0.2;
}
.container.disabled .answers span {
  cursor: default;
}
.container.disabled .answers span:hover {
  background-color: #DDD;
  color: black;
}
.container {
  max-width: 100%;
  background-color: #EEE;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  position: relative;
}
.container .time-out,
.container .wrong,
.container .right {
  width: fit-content;
  color: white;
  position: absolute;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 99;
}
@media (max-width: 767px) {
  .container .time-out, 
  .container .wrong,
  .container .right {
    font-size: 18px;
  }
}
.container .time-out,
.container .wrong {
  background-color: red;
}
.container .right {
  background-color: #03be57;
}
.container .question {
  background-color: #2795df;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}
.container .answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.container .answers span {
  margin-bottom: 20px;
  background-color: #DDD;
  line-height: 40px;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.container .answers span:hover {
  background-color: #169ef9;
  color: white;
}
.container footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container .current-question {
  background-color: #2795df;
  color: white;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 10px;
}
.container .dots {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.container .dots span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.container .dots span.active {
  background-color: #169ef9;
}
.container .timer {
  text-align: center;
  background-color: #169ef9;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .container .answers span:hover {
    color: black;
    background-color: #DDD;
  }
  .choices span:hover {
    background-color: #ddd;
    color: black;
  }
}
.container.result .result {
  text-align: center;
  background-color: #169ef9;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
.container.result .results > div {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}
.container.result .results .right-answers {
  background-color: #03be57;
}
.container.result .results .wrong-answers {
  background-color: red;
}
.container.result .other-options {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.result .other-options > div {
  background-color: #2795df;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.container.result .other-options > div:hover {
  background-color: #0079ca;
}
.container.result .other-options .close:hover {
  background-color: rgb(193, 1, 1);
}
.container.result .other-options .close {
  background-color: red;
}
@media (max-width: 767px) {
  .container.result .other-options > div {
    font-size: 12px;
  }
  .container.result .other-options > div:hover {
    background-color: #2795df;
  }
  .container.result .other-options .close:hover {
    background-color: red;
  }
}
/* Start animation */
@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* End animation */